<!DOCTYPE html>
<html ng-app="immune_traveler">
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
</head>

<body ng-controller="SearchCtrl">
  <div class="container-fluid">
    <div class="row-fluid">
      <span class="span3">
        <input class="input-block-level" ng-model="queryTerm" type="text">
      </span>
      <button ng-click="search()" class="btn" type="button">Search</button>
    </div>

    <div class="row-fluid">
      <ul class="span4">
        <li ng-repeat="doc in results.hits.hits">
          {{ doc._source.Title }}
        </li>
      </ul>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  </body>
</html>